html, body, h1, h2, h3, h4, h5, ul, li, figure, figcaption, img {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-type: none;
}

header {
    border-bottom: 1px solid #8f9394;
}

header .header-wrap{
    width: 790px;
    margin: 0 auto;
}

header .top_header {
    margin: 3px 10px 0;

}

header .logo {
    display: inline-block;
    background-color: #2195df;
}

header .menu {
    float: right;
    display: inline-block;
    background: #00ab89;
}

header .arrow-l {
    float: left;
}

header .arrow-r {
    float: right;
}

header .topic_list {
    display: inline-block;
    width: 80%;
    white-space:nowrap;
    overflow: hidden;
}

header .topic_list li {
    display: inline-block;
}

header .add-topic {
    float: right;
    display: inline-block;
}

.container {
    position: relative;
    margin: 10px auto 0;
    width: 1093px;
    border: 1px solid black;
}

.container div.ad-box {
    position: absolute;
    width: 160px;
    height: 600px;
    background-color:  yellowgreen;
}

.container div.ad-box.ad-box-left {
    top:0;
    left: 0;
}

.container div.ad-box.ad-box-right {
    top:0;
    right: 0;
}

.container div.content {
    display: block;
    margin: 0 auto;
    width: 728px;
}

.container div.content > div{
    width: 728px;
}

.container div.content .ad-section {
    margin-bottom: 16px;
}

.container div.content .ranking-section .section-info {
    display: none;
}

.container div.content .ranking-section .section-info .section-title {
}

.container div.content .ranking-section .section-info .section-date {
}

/**
* ranking first article
*/
.container div.content .ranking-section .ranking-article .top-article figure img {
}

.container div.content .ranking-section .ranking-article .top-article figure figcaption {
    display: none;
}

.container div.content .ranking-section .ranking-article .top-article .ranking {
    position: relative;
    width: 52px;
    display: inline-block;
}

.container div.content .ranking-section .ranking-article .top-article .ranking .order{
    position: absolute;
    top: -50px;
    left: 20px;
    width: 48px;
    height: 47px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background-color: #00c8a0;
}

.container div.content .ranking-section .ranking-article .top-article .article-content {
    display: inline-block;
}

.container div.content .ranking-section .ranking-article ul li {
    border-bottom: 1px solid #f5f6f7;
}


/**
* ranking normal article
*/

.container div.content .ranking-section .ranking-article .article {
    min-height: 85px;
    padding: 16px;
}

.container div.content .ranking-section .ranking-article .article figure img {
    float: right;
}

.container div.content .ranking-section .ranking-article .article figure figcaption {
    display: none;
}

.container div.content .ranking-section .ranking-article .article .ranking {
    width: 52px;
    display: inline-block;
}

.container div.content .ranking-section .ranking-article .article .ranking .order{
    font-weight: 700;
    font-size: 18px;
}

.container div.content .ranking-section .ranking-article .article .ranking .rate {
    font-weight: 500;
    font-size: 13px;
}

.container div.content .ranking-section .ranking-article .article .ranking .rate.up {
    color: red;
}

.container div.content .ranking-section .ranking-article .article .ranking .rate.down {
    color: blue;
}

.container div.content .ranking-section .ranking-article .article .ranking .rate.down {
    color: gray;
}

.container div.content .ranking-section .ranking-article .article .article-content {
    display: inline-block;
}

.container div.content .discussion-section {
    height: 500px;
    background-color:  #8e2b0c;
}

.container div.content .recommended-section {
    height: 700px;
    background-color:  #FF7043;
}

footer {
    width: 728px;
    margin: 0 auto;
    background-color:  blue;
}
